.content > ul > li { list-style: none; }

#sidebarArea{
    padding: 0 !important;
    padding-bottom: 5px !important;
    width: 300px !important;
    overflow: hidden !important;
    border-top: 1px solid #1e1e1f !important;
    border-left: 1px solid #1e1e1f !important;
}

.ui-layout-toggle-close{
    float: right;
    width: 20%;
    /*background-image: url(public/images/navigation/close_arrow_white.svg) !important;*/
    background-image: url('../../assets/navigation/close_arrow_white.svg');
    background-repeat: no-repeat !important;
    background-size: 26px 38px !important;
    background-position: right !important;
    height: 40px;
    top: -9px;
}

.ui-layout-toggle-close:hover{
    cursor: pointer;
}

.ui-layout-toggler {
    /*background-image: url(public/images/navigation/open_arrow.svg) !important;*/
    background-image: url('../../assets/navigation/open_arrow.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 26px 38px !important;
    background-color: unset !important;
    background-position: center !important;
    background-position-y: inherit !important;
}

.footer{
    border-top: 1px solid gray;
    position: relative;
    bottom: 46px;
    float: left;
    width: 100%;
}

.footer_right{
    color: ghostwhite;
    position: relative;
    float: left;
    width: 80%;
}

.content{
    height: 100%;
    float: left;
    width: 100%;
}

.bottomArea{
    width: 100%;
    height: 50px;
    background-color: #212529;
    color: white;
    box-shadow: inset 0 8px 10px 2px #414242;
}

.bottomAreaRight{
    font-size: 30px;
    height: 50px;
    width: 15%;
    float: left;
    text-align: right;
    padding-right: 3px;
}

.bottomAreaLeft{
    padding-left: 3px;
    width: 85%;
    float: right;
    text-align: left;
    height: 50px;
    font-size: 15px;
    padding-top: 15px;
}

.card-body{
    padding: 0.5rem 1rem !important;
    font-size: 15px !important;
}