.deliverInfo{
    width: 70%;
    position: relative;
    float: left;
    text-align: left;
    left: 15%;
    color: black;
}

.deliverFailMsg{
    position: relative;
    float: right;
    right: 15%;
}

.customTooltip{
    margin-top: 1%;
    font-size: 25px;
    color: black;
}